<h1>{{title}}</h1>
<p>
  This sample demonstrates the OpenId Connect <b>Implicit</b> flow.
</p>
<p>
  This flow is useful for single page applications
  as it does not require any server side interaction with
  the OpenId Connect provider.
</p>
<h2>Try it</h2>
<p>
  After clicking login the user will be redirect to OneLogin to
  authenticate. Once authenticated they will be redirected back to
  this site and their profile details will be displayed below
</p>
<p>
  <a href="" class="btn" id="login">LOGIN</a>
</p>
<div id="loginResult"></div>
<script type="text/javascript" src="/javascripts/oidc-client.min.js"></script>
<script type="text/javascript" src="/javascripts/main.js"></script>