<h1>{{title}}</h1>
<p>
  This sample demonstrates the OpenId Connect Authorization flow.
</p>
<p>
  After clicking login the user will be redirect to OneLogin to
  authenticate. Once authenticated they will be redirected back to
  this site and will be able to view the users page
</p>
<p>
  <a href="/login" class="btn">LOGIN</a>
</p>