<h1>OneLogin OpenId Connect Sample</h1>
<p>
  This sample demonstrates the OpenId Connect <b>Resource Owner Password Grant</b>.
</p>
<h2>Try it</h2>
<form method="POST" action="/login">
  <div>
    <input type="text" name="username" placeholder="Enter a username" />
  </div>
  <div>
    <input type="password" name="password" placeholder="Enter a password" />
  </div>
  <div>
    <input type="submit" class="btn" />
  </div>
  <div style="color:red">{{error_message}}</div>
</form>